:root {
    --customGray: #616163;
    --customBlue: #100A42;
    --customWhite: #FFFFFF;
    --customeBlack: #000000;
    --customLightBlue: rgba(231, 231, 237, 0.2);
}

html,
body {
    margin: 0px;
    background-color: #FBFBFB;
    font-size: unset;
    font-family: Roboto;
}

.container {
    padding: 0 4rem 0 4rem;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--customBlue);
}

.mid-nav {
    display: flex;
    gap: 5rem;
    align-items: center;
    font-size: 0.8rem;
}

.two {
    display: flex;
    gap: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.left {
    color: var(--customBlue);
}

.left, .right {
   width: 50%;
}

.video-url {
    margin-top: 3rem;
}

.share {
    margin-top: 3rem;
}

.tel-div {
    background-color: rgb(75, 183, 220);
    border-radius: 50%;
    padding: 0.2rem;
}

.face, .what, .telegram {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
}

.face:hover, .what:hover, .telegram:hover {
    cursor: pointer;
    border: 2px solid var(--customBlue);
    background-color: rgb(229, 229, 238);
}

.share-button-div {
    display: flex;
    gap: 1rem;
}

.email-button {
    background-color: var(--customBlue);
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--customWhite);
    border-radius: 0.5rem;
    font-weight: 600;
}

.email-button:hover {
    cursor: pointer;
    border: 2px solid var(--customBlue);
    color: var(--customBlue);
    background-color: var(--customWhite);
}

.email-input {
    width: 80%;
    border: none;
    background-color: transparent;
}

.copy {
    border: none;
    color: var(--customBlue);
    font-weight: 700;
}

.copy-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
   gap: 3rem;
    width: 80%;
    padding: 0.3rem 0.9rem 0.3rem 0.9rem;
        border-radius: 0.5rem;
    background-color: rgba(182, 179, 198, 0.2);
}
.copy-p {
    color: var(--customGray);
}

.email-div {
    margin-top: 3rem;
    background-color: rgba(182, 179, 198, 0.2);
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 0.6rem 0.9rem 0.6rem 0.9rem;
    border-radius: 0.5rem;
}
.copy-button {
  width: 100%;
}

.button-div {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: solid 2px var(--customBlue);
    padding: 0.5rem 0.5rem;
    border-radius: 0.4rem;
}

.edit {
    border: none;
    width: 90%;
    background-color: transparent;
    padding-top: 0.5rem;
}

.edit::placeholder {
    color: var(--customBlue);
    font-size: 1.5rem;
}

.email-input::placeholder {
    font-size: 1rem;
}

input {
    outline: none;
}

.edit-div {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin-bottom: 1rem;
    background-color: transparent;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

video {
    border-radius: 1rem;
    width: 100%;
}

.transcript, .texts {
    margin-top: 2rem;
}

.right-img {
    width: 100%;
}

.right {
    border-left: solid rgba(0, 0, 0, 0.2);
    padding-left: 2rem;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--customLightBlue);
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.three-low {
    font-weight: bold;
    color: var(--customBlue);
}

.three-low p {
    margin-bottom: 1px;
}

.span {
    color: var(--customBlue);
    font-weight: bold;
}

.create {
    color: var(--customGray);
}

.save{
    margin-top: 2rem;
    background-color: var(--customBlue);
    color: var(--customWhite);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 0.4rem;
}

footer {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--customBlue);
    color: var(--customWhite);
    padding: 1rem 4rem 1rem 4rem;
}

footer p {
    font-size: 0.7rem;
}

.header-div, .foot {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}